.loginModalWrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 48px;
    justify-content: space-around;
    height: 100%;
    .loginModalContainer{
        width: 375px;
        margin: auto;
        padding: unset;       
        flex:  1 1 0%;
        overflow: auto;
        .loginTitle{
            color: rgb(22, 24, 35);
            font-family: var(--font-family);
            font-size: 32px;
            margin: 16px auto;
            font-weight: bold;
            text-align: center;
            overflow-wrap: break-word;
        }

        .formGroup{
            display: flex;
            flex-direction: column;
            position: relative;
            ~ .formGroup{
                margin-top: 8px;
            }

            .formLabel{
                color: rgb(22, 24, 35);
                font-weight: 600;
                font-size: 15px;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin-bottom: 4px;
            }

            .inputContainer{
                border-radius: 2px;
                background-color: rgba(22, 24, 35, 0.06);
                border: 1px solid rgba(22, 24, 35, 0.12);
                padding-inline-start: 12px;
                color: rgb(22, 24, 35);
                line-height: 100%;
                outline: none;
                font-size: 16px;
                height: 44px;
                caret-color: rgb(254, 44, 85);
                width: 100%;
                padding-inline-end: unset;                        
                font-family: var(--font-family);

                &::placeholder{
                    font-weight: 400;
                    color:rgba(22, 24, 35, .5);
                    font-size: 16px;
                }
                
            }

            .iconContainer{
                right: 0px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                position: absolute;
                top: 0%;
                height: 44px;
                padding-inline-end: 16px;
                .warningIcon{
                    color: red;
                    transform: translateY(10%);
                    
                }
                .showIconBtnContainer{
                    height: 44px;
                    width: 30px;
                    position:relative;
                    cursor: pointer;

        
                    .showIconBtn{
                        line-height: 0;
                        margin-inline-start: 16px;
                        font-size: 20px;
                        position: absolute;
                        top: calc(50% - 10px);
                        left: calc(50% - 25px);
                    }
                }
            }
            .descriptionTitleContainer{
                .descriptionTitle{
                    color: rgb(22, 24, 35);
                    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
                    font-weight: 600;
                    margin: 4px 0px
                }
                .textContainer{
                    font-size: 12px;
                    line-height: 15px;
                    margin: 4px 0px;
                    color: rgba(22, 24, 35, 0.5);
                    display: flex;
                    .checkIcon{
                        margin-inline-end: 4px;
                    }

                }

                .active{
                    color: rgb(11, 224, 155);
                }
                .warning{
                    color: red;
                }
            }
            
            .warning{
                border-color: red;
            }  
        }
        .textWarningContainer{
            font-size: 12px;
            line-height: 15px;
            margin: 4px 0px;
            color: red;
            display: flex;
            .checkIcon{
                margin-inline-end: 4px;
            }

        }


        .resetPasswordBtn{
            color: rgba(22, 24, 35, 0.75);
            font-weight: 600;
            font-size: 12px;
            display: inline-block;
            }

        .logInBtn{
            border-radius: 4px;
            border: none;
            color: rgb(255, 255, 255);
            background-color: rgb(254, 44, 85);
            min-height: 46px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            user-select: none;
            cursor: pointer;
            box-sizing: border-box;
            width: 100%;
            margin-top: 21px;

            &:disabled{
                border: none;
                color: rgba(22, 24, 35, 0.34);
                background-color: rgba(22, 24, 35, 0.06);
                pointer-events: none;
            }
        }
    }
}