.itemList{
    height: 42px;
    width: 100%;
    color: rgb(22, 24, 35);
    padding: 10px 8px 10px 6px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: left !important;

    + .itemList{
        margin-left: 0px;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    .title{
        line-height: 2.2rem;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

.separate{
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}

.formatFont{
    .title{
        font-weight: 500;
    }
}